@import url(modern-normalize.css);

:root {
    --sky-color: linear-gradient(
        to right,
        #bbc1c5,#e4e0de
      );
    --alice-blue: linear-gradient(
        to right,
        #a5b5c0,#dce1e4
      );
      --main-shadow: -1px -1px 10px 1px gray;
}

body {
    display: flex;
    height: 100vh;
}

.left-side {
    /* ALIGNS IMG AUTHOR REFERENCE TO END AND MIDDLE */ 
    display: flex;
    justify-content: center;
    align-items: end;

    background-image: url(joao-marta-sanfins-SnyAUL9pWrA-unsplash.jpg);
    /* SETS BACKGROUND IMAGE TO NOT GROW OR SHRINK IN SIZE */
    background-size: cover;
    box-shadow: var(--main-shadow);
    z-index: 1;

    width: 40%;
    height: 100vh;
}
.left-side > p {
    color: white;
}
.left-side > p > a {
    color: skyblue;
    font-size: 1.2rem;
}
.left-side > p > a:hover {
    color: pink;
    font-size: 1.2rem;
}
.black-line {
    position: absolute;
    width: 40%;
    top: 325px;
    height: 140px;
    background: #a5b5c09f;
}

.right-side {
    width: 60%;
    height: 100vh;
}

header {
    height: 25%;
    width: 100%;

    background: var(--sky-color);
}

h1 {
    font-size: clamp(1.3rem, 3.6vw, 2rem);
    padding: 3vw 55px 5px 160px;

    color: rgb(26, 25, 25);
}

main {
    height: 45%;

    background: var(--alice-blue);
    box-shadow: var(--main-shadow);
}
h2 {
    font-size: 2rem;
    color: rgba(26, 25, 25, 0.856);
    padding: 15px 0 0 160px;
    font-weight: bold;
}

footer {
    height: 30%;
    background: var(--sky-color);
    box-shadow: var(--main-shadow);
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 65%;
    column-gap: 3rem;
    padding: 10px 40px 50px 160px;
    position: relative;
}

label {
    display: block;
    color: rgba(26, 25, 25, 0.74);
    font-weight: bold;
    padding: none;
}

input, select {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(26, 25, 25, 0.74);
    height: 2rem;
    font-size: 1.2rem;
    width: 200px;
}


footer > div {
    padding: 30px 0 0 150px;
}

button {
    width: 280px;
    height: 2.5rem;
    border: 1px solid rgba(26, 25, 25, 0.74);
    border-radius: 12px;
    display: block;
    background: #a5b5c0;
    color: rgba(0, 0, 0, 0.76);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}
button:hover {
    background-color: #7699b1;
    transform:translateY(-4px);
}
div > p {
    font-size: 1.2rem;
    margin-top: 25px;
}
div > p > a {
    color: rgb(87, 85, 85);
}

input:invalid {
    border-bottom: 1px solid rgba(255, 0, 0, 0.507);
}
input:active, input:focus {
    border-bottom: 1px solid rgb(61, 59, 59);
    outline: none;
    
}

form > div:nth-of-type(4) > input:focus + .info1::after {
    content: '*Phone number must match xx-xxx-xxx format';
    color: rgba(26, 25, 25, 0.74);
    font-size: 1.3rem;
    font-weight: bold;
}

select:first-child {
    background-color: red;
}
form > div:nth-of-type(7) > input:focus + .info1::after {
    content: '*Password requires at least one special character (non-alphanumeric), and a total length of 8 to 16 characters.';
    color: rgba(26, 25, 25, 0.74);
    font-size: 1.3rem;
    font-weight: bold;
}
.info1 {
    position: absolute;
    bottom: -20px;
    left: 160px;
}

